
.navbar-brand{
    font-size: 1.5rem;
    margin-right:0;
}

.bg-dark{
    background-color: #f7797d!important;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.22);
}

@media screen and (max-width: 925px) {
    .navbar-brand{
        width: 100%;
        text-align: center;
    }
  }